---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl text-black dark:text-white font-black">
        Hi! <span class="underline underline-offset-2 decoration-pink-500 dark:decoration-pink-500"
          >I'm Rodolfo Talibs</span
        >
      </h1>
      <p>
        Web developer with almost 3 years of expericence, working with <span class="font-black"
          >JavaScript</span
        >, <span class="font-black">ReactJS</span>, <span class="font-black">React Native</span>, <span
          class="font-black">Python</span
        > y
        <span class="font-black">Django</span>. Contributing creative ideas in both development and
        design. Always looking for new challenges and willing to learn new technologies.
      </p>
    </div>
  </div>
</BaseLayout>
