---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl text-black dark:text-white font-black">
        Hola! <span
          class="underline underline-offset-2 decoration-blue-600 dark:decoration-blue-400"
          >Soy Rodolfo Talibs</span
        >
      </h1>
      <p>
        Bienvenido a mi sitio web, soy un desarrollador web con más de 3 años de experiencia
        trabajando con tecnologías como <span class="font-black">JavaScript</span>, <span
          class="font-black">ReactJS</span
        >, <span class="font-black">React Native</span>, <span class="font-black">Python</span> y
        <span class="font-black">Django</span>.
      </p>
      <p>
        Divido mi tiempo libre en videojuegos, amigos, tocar el bajo eléctrico y tomar un buen café.
        Cada tanto me gusta disfrutar de un buen libro e investigar sobre nuevas tecnologías o
        buscar nuevas inspiraciones para mejorar como programador.
      </p>
      <p>
        En este sitio encontrarás posteos sobre cosas que me interesan, así también críticas o
        dificultades con las que me encuentro día a día y de qué manera las afronto.
      </p>
    </div>
  </div>
</BaseLayout>
